.Gnb {
  border-top:5px solid #ddd ;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

h1 {
  text-align: center;
}

h1.on {
  color:blue;
}

h2.on {
  color:blue;
}

.Gnb>ul {
  display: flex;
  justify-content: space-between;
  line-height: 50px;
}
.Gnb>ul>li {
  position: relative;
}

.Gnb .smenu {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  background: #f7f7f7;
  width: 150px;
  border: 4px solid #086;
  line-height: 35px;
  transition: 0.5s;
  visibility: hidden;
}

.Gnb li:hover .smenu {
  top: 40px;
  visibility: visible;  
}

.smenu>li~li {
  border-top: 1px solid #ddd;
}
